.content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

form {
    display: inline-block;
    text-align: left;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ddd;
    margin-bottom: 30px;
}

textarea, input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
h1 {
    font-size: 24px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
p {
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    text-align: center;
}

nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(109, 152, 193);
    color: #fff;
}
/* Style the navigation links */
nav a {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    margin: 0 10px;

}

button[type="submit"] {
    background-color: rgb(109, 152, 193);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.disclaimer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
