<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    {% block head %}{% endblock %} <!-- flask. this is basically a block where we enter the code that the other pages will inherit-->
</head>
<body>
    <div class="disclaimer">
        <p>This program only measures the similarity between two pieces of news. The results are not guaranteed to be accurate and should not be relied upon for any purpose. For better results, we can incorporate ML but that is out of scope for this course.</p>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About the Program</a>
    </nav>
    {% block body %}{% endblock %} <!-- so basically this is outlining where we're going to insert our own code-->
</body>
</html>